
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');



   /* Footer */

   footer {
    background-color:var(--black);
    color:var(--white);
    line-height: 1.5;
  }
  footer p {
    text-align: center;
    padding: 20px 0;
  }

  footer a {
    text-decoration: none;
    color:var(--white);
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer ul{
    list-style-type: none;
  }
  .ft-main {
    display: flex;
    justify-content: space-evenly;
    column-gap: 25%;
  }
  .ft-main-item {
    flex-basis: 33.33%;
  }
  .ft-social-list {
    display: flex;
    column-gap: 10px;

  }

  .ft-brand {
    line-height: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .ft-scl-title {
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;

  }
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color:var(--primary-color);
    text-align: center;
  }

  /*Media Queries */

  @media only screen and (max-width: 720px) {


    .navbar ul {
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 60px;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 60px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
      }

      .navbar li {
        padding: 15px;
      }

      .navbar li:first-child {
        margin-top: 50px;
      }

      .navbar li a {
        font-size: 1rem;
      }

      .menu-toggle, .bar {
        display: block;
        cursor: pointer;
      }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    .ft-main {
        padding: 2rem 1rem;
        justify-content: space-evenly;
        column-gap: 10%;
      }
      .ft-social-list {
        column-gap: 5px;
        font-size: 10px;

      }

}
